/* Основные стили навигационной панели */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    color: white;
}

/* Стили для ссылок */
.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 48px;
    /* mix-blend-mode: multiply; */
}
.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* Эффект при наведении */
.nav-links li a:hover {
    color: black; 
    transition: color 0.4s;
    /* text-decoration: underline; */
}
/* В вашем файле CSS (например, Navbar.css) */
.logo a {
    text-decoration: none; /* Убирает нижнее подчеркивание */
    color: white; /* Цвет текста */
}

.logo a:hover {
    text-decoration: none; /* Убирает нижнее подчеркивание при наведении */
    color: white; /* Цвет текста при наведении */
}

/* Адаптивные стили для планшетов */
@media (min-width: 769px) {
    .menu-icon{
        display: none;
    }
}
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Скрыть ссылки для планшетов */
        flex-direction: column; /* Вертикальное расположение для бургер-меню */
        width: 100%; /* Ширина на весь экран */
        background-color: #217c1f; /* Цвет фона для бургер-меню */
        position: absolute; /* Абсолютное позиционирование */
        top: 60px; /* Расположение под навигацией */
        left: 0; /* Прикрепление к левому краю */
    }

    .nav-links.active {
        display: flex; /* Отображение меню при открытии */
    }

    .menu-icon {
        display: block; /* Отображение иконки бургер-меню */
        cursor: pointer; /* Курсор для интерактивности */
    }

    .navbar {
        flex-direction: column; /* Вертикальное расположение для планшетов */
        align-items: flex-start; /* Выравнивание по левому краю */
    }
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 480px) {
    .nav-links {
        gap: 10px; /* Уменьшение промежутков между пунктами меню */
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }
    .logo {
        margin: 20px auto;
    }
}
