/* Основные стили навигационной панели */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    color: white;
    position: relative;
    z-index: 10;
}

/* Стили для ссылок */
.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    transition: all 0.3s ease;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* Эффект при наведении */
.nav-links li a:hover {
    color: black;
    transition: color 0.4s;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo a:hover {
    text-decoration: none;
    color: white;
}
.menu-icon {
    display: none;
}
/* Адаптивные стили для планшетов и мобильных устройств */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон */
        backdrop-filter: blur(50px); /* Размытие фона */
        position: absolute;
        top: 40px;
        left: 0;
        padding: 20px 0;
        z-index: 5;
        border-radius: 10px; /* Закругленные углы для меню */
        border: 2px solid #217c1f;
    }

    .nav-links.active {
        display: flex; /* Показать меню при открытии */
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-links li a {
        width: 90%; /* Занимать 90% ширины экрана на мобильных устройствах */
        margin: 0 auto;
        font-weight: bold;
        color:#fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .navbar {
        padding: 10px 20px;
    }

    .logo {
        flex: 1;
    }
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 480px) {
    .nav-links {
        gap: 10px;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .logo {
        margin: 20px auto;
    }
}
