/* Стили для кнопки поиска Ant Design */
.ant-input-search-button {
    background-color: #22c55e !important; /* Зеленый цвет кнопки */
    color: #fff !important; /* Белый цвет текста */
    border: none !important;
  }
  
  .ant-input-search-button:hover {
    background-color: #16a34a !important; /* Темно-зеленый цвет при наведении */
    color: #fff !important;
  }
  
/* Изменение цвета текста и обводки активного номера страницы в пагинации */
.ant-pagination-item-active {
  border-color: #22c55e !important; /* Зеленая обводка */
}

.ant-pagination-item-active a {
  color: #22c55e !important; /* Зеленый цвет текста */
}

/* Изменение цвета при наведении */
.ant-pagination-item:hover a {
  color: #16a34a !important;
}
.truncate-text {
  display: -webkit-box; /* Для поддержки WebKit браузеров */
  -webkit-box-orient: vertical; /* Задаёт направление текста */
  overflow: hidden; /* Скрывает текст за пределами блока */
  text-overflow: ellipsis; /* Добавляет многоточие */
  line-clamp: 3; /* Ограничивает текст тремя строками */
  -webkit-line-clamp: 3; /* Для поддержки WebKit */
}

/* Цвет дорожки ползунка */
.ant-slider-track {
  background-color:#60a15f !important; /* Зеленый цвет для трека */
}

/* Цвет ручки ползунка */
.ant-slider-handle {
  border-color: #60a15f !important; /* Зеленая обводка ручки */
}

.ant-slider-handle:hover {
  border-color: #60a15f !important; /* Темнее при наведении */
}
.agro {
  background-image: url('../assets/images/agro.png');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .truncate-text {
    -webkit-line-clamp: 2; /* Ограничение на 2 строки для мобильных */
  }
}

@media (max-width: 480px) {
  .agro{
    display: flex;
    flex-direction: column;
  } 
}