/* Основные стили контейнера */
.container {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 40px;
}
.tech-sup-container {
    min-height: calc(100vh - 180px);
    margin: 0 auto;
}
/* Стили для заголовка страницы */
.page-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 500;
    color: #000; 
    /* color: #17a34a; */
}

/* Стили для списка сотрудников */
.staff-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Сетка, адаптирующаяся к экрану */
    gap: 20px;
}

/* Стили для карточки сотрудника */
.staff-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 10px;
    text-align: center;
    /* border: 2px solid #17a34a;  */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.staff-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Стили для фотографии сотрудника */
.staff-photo {
    width: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Стили для информации о сотруднике */
.staff-info {
    text-align: left;
    width: 100%;
}

.staff-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #026a00; /* Зеленый для имени */
    color: #000;
}

.staff-position,
.staff-phone {
    font-size: 0.9rem;
    color: #555;
}

.staff-phone {
    font-weight: bold;
    color: #FF6B00; /* Оранжевый для телефона */
    color:#000;
    color: #026a00;
}

/* Адаптивные стили для планшетов */
@media (max-width: 768px) {
    .staff-list {
        grid-template-columns: 1fr 1fr; /* Две колонки на планшетах */
    }

    .container {
        margin: 0px auto 10px;
    }
    .page-title {
        font-size: 1.5rem;        
        font-weight: 600;
    }
    .staff-card {
        padding: 15px;
    }

    .staff-photo {
        height: 150px; /* Уменьшаем высоту изображения */
    }

    .staff-name {
        font-size: 1.1rem;
    }
    .staff-position {
        font-size: 0.75rem;
    }
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 480px) {
    .container {
        margin: 0px auto 10px;
    }

    .staff-list {
        grid-template-columns: 1fr; /* Одна колонка на мобильных устройствах */
    }

    .staff-card {
        padding: 10px;
    }

    .staff-photo {
        height: 120px; /* Ещё больше уменьшаем высоту изображения */
    }

    .staff-name {
        font-size: 1rem;
    }

    .staff-position,
    .staff-phone {
        font-size: 0.9rem; /* Уменьшаем шрифт для мобильных */
    }

    .page-title {
        font-size: 1.25rem;        
        font-weight: 600;
        margin-bottom: 20px;
    }
}
