
/* Стили для заголовков */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px; /* Отступ снизу */
}

/* Стили для карточек */
.card {
    background: white; /* Фоновый цвет карточек */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 20px; /* Отступы внутри карточек */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для форм */
.form-item {
    margin-bottom: 15px; /* Отступ между элементами формы */
}
/* carousel start */
.ant-carousel .slick-slide {
    text-align: center;
    height: auto;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
  
.ant-carousel .slick-slide h3 {
    color: #fff;
}
/* carousel end */
/* map cusmomization start */

.leaflet-container {
    margin: 0 auto;
    height: 500px !important;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.leaflet-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.map__container {
    margin: 40px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.leaflet-control-attribution{
    display: none;
}
.branch {
    position: absolute;
    filter: invert(0.2);
    height: 200px;
    z-index: 100;
    right: 2px;
    top: -10px;
}
.branch2 {
    position: absolute;
    filter: invert(1);
    height: 500px;
    rotate: 80deg;
    z-index: -1;
    left: -82px;
    top: -10px;
}

/* map cusmomization end */
/* Адаптивные стили */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Уменьшение отступов на мобильных устройствах */
    }

    .branch {
        height: 260px;
        right: -60px;
        rotate: 1deg;
        top: -135px;
        z-index: 1;
    }
    .branch2 {
        filter: invert(0.4);
    }
}

@media (max-width: 480px) {
    .leaflet-container {
        margin: 0 auto!important;
        width: 100%;
        padding-left: 0;
        height: 200px !important;
        border: 2px solid #b9b3b3;
    }
    .map__container{
        margin: 10px 10px 20px 10px;
    } 
    .branch {
        height: 160px;
        right: -60px;
        rotate: 1deg;
        top: -45px;
        z-index: 1;
    }
    .branch2 {
        filter: invert(0.2);
    }
}