@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts start */
@font-face {
  font-family: 'Revuen'; 
  src: url('./assets/fonts/REVUEN.TTF') format('truetype'); 
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Revuen';
  src: url('./assets/fonts/REVUEN.TTF') format('truetype'); 
  font-weight: 700;
  font-style: normal;
}
/* @font-face {
  font-family: 'RevueBT'; 
 src: url('./assets/fonts/RevueBT-Regular.woff2') format('woff2'), 
 url('./assets/fonts/RevueBT-Regular.woff') format('woff');   
 font-weight: 700;
  font-style: normal; 
}   */
/* fonts end */
/* Сброс стилей для всех элементов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Установка шрифта и цвета для body */
body {
  margin: 0;
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif; 
  /* font-family: 'Montserr'; */
  background-color: #bcfabb; /* Фоновый цвет */
  color: #333; /* Цвет текста */
  line-height: 1.6; /* Высота строки */
}

/* Установка стилей для ссылок */
a {
  color: black; /* Цвет ссылок (синий) */
  text-decoration: none; /* Убрать подчеркивание */
}

a:hover {
  text-decoration: underline; 
  color: #026a00;/* Подчеркивание при наведении */
}

/* Установка стилей для кнопок */
button {
  cursor: pointer; /* Курсор при наведении */
}

/* Мобильные устройства */
@media (max-width: 768px) {
  body {
      padding: 10px; /* Отступы для мобильных устройств */
  }
}
